include README.md
recursive-include octoprint_bovine_filament_sensor/templates *
recursive-include octoprint_bovine_filament_sensor/translations *
recursive-include octoprint_bovine_filament_sensor/static *
